/* Navigation Bar */
.navbar {
  background: #252525 !important;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 200;
  font-size: 1.125em;
  color: #fff;
  padding: 0 0.75em;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #12a8e0;
}
/* Toggle Button */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 100%;
  padding: 0.5em;
}
/* Page Headings */
.page-heading h1 {
  margin: 1em 0;
}

/* Mobile View */
@media only screen and (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 0.75em 0;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #12a8e0;
  }
}
.brand-btn {
  background: #12a8e0;
  border: none;
  padding: 0.75em 2em;
  border-radius: 0;
}
.brand-btn:hover {
  background: #109fd3;
}
